html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
}

body {
	/*padding-top: 15px;*/
}

.container {
	width: 100%;
	height: 100%;
}


/*Ska ersättas med googlegrejen!*/
.col-sm-5, .col-sm-6, .col-sm-7 {
	height: 100%;
}
/*
.row {
	min-height: 100%;
	height: 100%;
}*/

.newsale {
	height: 60%;
}

.oldsales {
	overflow-y: scroll;
	height: 95%;
	padding-top: 15px;
	
}


.karta {
	height: 300px;
	background: #eee;
	margin-top: 5px;
	border-radius: 5px;
}

.fixedWidth {
	width: 35%;
	display: block;
	float: left;
	font-size: 1.2em;
}

.commission {
	width: 65px;
	/*font-weight: bold;
	font-size: 1.6em;
	text-align: center;*/
}

.bigfont {
	font-size: 1.8em;
}

.label {
	font-size: 0.8em;
}

.speciallabel {
	display: block;
	margin: 2px;
	float: left;
	background: #ccc;
}

.speciallabel:hover {
	background: #999;
}

.oldsaleitem {
	display: block;
	/*
	background-color: #5BC0DE;
	border: 1px solid #5BC0DE;
	*/
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	color: #333;
	border-radius: 4px;
	margin-bottom: 15px;
	padding: 10px;
	opacity: 0.6;
}

h2 {
	text-align: center;
}

.oldsaleitem:nth-child(4n+1) {
	opacity: 0.5;
}

.oldsaleitem:hover {
	opacity: 1;
	text-decoration: none;
	/*color: #fff;*/
}


.dummy {
	height: 200px;
	background: #eee;
	border-radius: 4px;
}